.block4{
	padding: 400px 23vw 115px;
	background: url(../img/scribble_dark_5096.png) 9vw bottom no-repeat padding-box;
}
.block4_content{
	text-align: center;
	
}
.block4_content h1{
	font-size: 97.7px;
	line-height: 97px;
	margin: 62px 0;
}
.block4_content span{
	font-family: Cardo;
	font-size: 97.7px;
	line-height: 97px;	
	font-style: italic;
	text-decoration: underline;
}


.block5{
	padding: 115px 8vw 50px;
	position: relative;
}
.block5_image1{
	width: 564px;
	height: 776px;
	margin-right: 43px;
}
.block5_image2{
	width: 418px;
	margin-bottom: 78px;
}
.tape{
	position: absolute;
	top: 370px;
	left: 6vw;
	opacity: 0.9;
}
.block5_content h1{
	font-size: 36.4px;
	line-height: 50px;
	text-decoration: underline;
	margin-right: 45px;
}
.block5_content p{
	
}
.block_content{
	
}
.button_arrow{
	background: url(../img/line_5111.png) left 50% no-repeat, url(../img/line_5110.png) right no-repeat ;
	position: absolute;
	right: 8vw;
	bottom: 94px;
	width: 141px;
	height: 55px;
}