.block6{
	background: url(../img/scribble_light_5145.png) left 756px no-repeat, #232323;
	padding: 155px 0;
	padding-left: 8vw;
}
.block6_content{
	margin-right: 7.7vw;
}
.block6_content h1{
	color: #e9e7e7;
	font-size: 55.5px;
	line-height: 55px;
	margin-bottom: 110px;
}
.block6_text{
	color: #e9e7e7;
}
.block6_text h6{
	margin-bottom: 19px;
}

.block7{
	padding-top: 175px;
}
.block7_content{
	margin-right: 5.6vw;
}
.block7_content h1{
	font-size: 81.5px;
	line-height: 81px;
}
.block7_content p{
	border: 3px solid #232323;
	border-left: 0;
	border-right: 0;
	padding: 22px 39px;
	margin-top: -3px;
}
.block7_text span{
	height: 19px;
	width: 19px;
	background: url(../img/line_5158.png) 8px 0px no-repeat, url(../img/line_5159.png) 0px 8px no-repeat;
}