.block3{
	margin: 165px 0;
}
.block3_block{
	width: 363px;
	height: 474px;
}
.block3 h1{
	font-size: 36.4px;
	line-height: 36px;
}
.block3 span{
	width: 52px;
	height: 3px;
	border: 2px solid #232323;
}