.block2 {
	background: url(../img/scribble_light_5041.png) 0px 50px no-repeat, url(../img/scribble_light_5043.png) right 235px no-repeat, #232323;
	margin-top: 160px;
	height: 387px;
	padding: 50px 0;
}
.block2_text{
	width: 440px;
	color: #e9e7e7;
	text-align: center;
}
.block2 h1 {
	font-size: 55px;
	line-height: 55px;
	color: #e9e7e7;
}
.block2 p {
	text-align: center;
}
.button_travel {
    padding: 18px 60px 18px 60px;
    background-color: transparent;
    color: #e9e7e7;
    border: 3px solid #e9e7e7;
    border-radius: 7px;
    font-weight: 700;
}