.button_home{
    font-weight: 700;
    color: #232323;
}
.button_contact{
    padding: 17px 57px 18px;
    font-weight: 700;
    color: #232323;
    border: 3px solid #232323;
    border-radius: 7px;
}
.block1{
    margin-top: 105px;
}
.block1_text{
    
    width: 430px;
}
.block1 h1{
    font-size: 81.5px;
    line-height: 81px;
}
.block1 p{
    

}
.img_mountains1{
    
}
.button_reserve{
    padding: 18px 57px 19px;
    font-family: Lato;
    font-size: 21px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #e9e7e7;
    background-color: #232323;
    border-radius: 7px;
    
}